.loader {
    &:not(.data-container .loader) {
    position: absolute;
      top: 50%;
      left: 50%;
      width: min(50vw, 200px);
      height: min(50vw, 200px);
      transform: translate(-50%, -50%);
    }
  
    div, &::before, &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background: #e74d4a;
      animation: pulse 1.5s infinite .3s;
      opacity: 0;
    }
  
    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      background: url('/images/pokeball.svg');
      animation: pulse 1.5s infinite;
    }
  
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      animation: pulse 1.5s infinite .6s;
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
  
    50% {
      opacity: 0.4;
    }
  
    100% {
      transform: scale(1.6);
      opacity: 0;
    }
  }