.name-page-section{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    .count{
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }
    .cards-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    .card {
        background: currentColor;
        width: 200px;
        height: 200px;
        border-radius: 15px;
        background-color: lin;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        transition: transform 0.2s;
        box-shadow: 0 15px 40px 0 currentColor;
        &:hover {
            transform: scale(1.05);
        }
        margin: 10px;
        .text-card{
            margin: 40px ;
            color: #000;
            font-weight: 600;
            font-size: min(30px, 2.5vw);
            text-align: center;
            text-overflow: ellipsis;
        }
        .selected {
         background: yellow;
         border-radius: 15px;
         transform: scale(1.05);
      }
       .image-card{
            width: 80%;
            height: 80%;
       }
       .matched {
            background-color: green;
            border-radius: 15px;
            transform: scale(1.05);
        }
    }
    }
}
