
.go-back-section{
    cursor: pointer;
    color: #000;
    display: flex;
.arrow-back {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 2px;
    margin: 10px;
    background: #000;
    &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    width: 8px;
    height: 8px;
    border: 2px solid #000;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(50deg);
  }
}
.go-back{
}
}