.bulk-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .name-list{
        width: 30%;
        h2{
            color: #000;
            font-size: 1.5rem;
            text-decoration: underline;
        }
        .pokemon-name{
          display: flex;
            color: #000;
            font-size: larger;
        &.found {
          text-decoration: line-through;
    }

    .image-pokemon {
      width: 50px;
      height: 30px;
      opacity: 0;
      animation: fadeIn 2s ease-in-out forwards, enlarge 2s ease-in-out forwards, shrink 2s ease-in-out 2s forwards;
      z-index: 10;
    }

    @keyframes enlarge {
      0% { transform: scale(1); }
      100% { transform: scale(5); }
    }

    @keyframes shrink {
      0% { transform: scale(5); }
      100% { transform: scale(1); }
    }
  
  .image-pokemon-bg {
    width: 50px;
    height: 30px;
    position: relative;
    background: url('/images/pokeball.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 2s ease-in-out;
}

  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
    }
    }
    
    .bulk {
      display: grid;
      grid-template-columns: repeat(10, 50px); 
    cursor: pointer;
    margin-bottom: 40px;
    @media screen and (max-width: 550px) {
      grid-template-columns: repeat(10, 30px); 
    }
    .bulk-cell {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      font-size: 18px;
      color: #000;
      font-weight: bold;
      background-color: #fff; 
      @media screen and (max-width: 550px) {
        width: 30px;
      height: 30px;
      }
    }
    .bulk-cell.selected {
      background-color: #ffeb3b; 
    }
    .bulk-cell.found {
      background-color: #0daf38; 
    }
    
}

}
.success-title {
  font-size: 2rem;
  color: green;
  margin-bottom: 1rem;
}

@media screen and (max-width: 880px) {
  .bulk-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .name-list{
      width: 80%;
      padding: 20px;
      align-self: center;
    }
    }
}