* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

body{
  background: #e1e6eb;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.loader:not(.data-container .loader) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(50vw, 200px);
  height: min(50vw, 200px);
  transform: translate(-50%,-50%);
}

.loader div, .loader::before, .loader::after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #e74d4a;
  animation: pulse 1.5s infinite .3s;
  opacity: 0;
}

.loader:before {
  content: '';
  position: absolute;
  display: inline-block;
  background: url('/images/pokeball.svg');
  animation: pulse 1.5s infinite;
}

.loader::after {
  content: '';
  position: absolute;
  display: inline-block;
  animation: pulse 1.5s infinite .6s;
}

@keyframes pulse {
  0% {
    transform: scale(0.1);  
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }
  
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

/* style types */
.types {
  display: flex;
  gap: 5px;
}

.types div {
  display: inline-block;
  border-radius: 5px;
  padding: 2px 5px;
}

.types div > span {
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
}

.types div > img {
  margin-right: 5px;
  width: 10px;
  height: 10px;
}

$types: (
  bug: #8cb230,
  dark: #58575f,
  dragon: #0f6ac0,
  electric: #eed535,
  fairy: #ed6ec7,
  fighting: #d04164,
  fire: #fd7d24,
  flying: #748fc9,
  ghost: #556aae,
  grass: #62b957,
  ground: #dd7748,
  ice: #61cec0,
  normal: #9da0aa,
  poison: #a552cc,
  psychic: #ea5d60,
  rock: #baab82,
  steel: #417d9a,
  water: #4a90da
);

@each $type, $color in $types {
  .types .#{$type} {
    background: $color;
  }
}


/* style pokemon background color */
.bug {
  color: #8bd674;
}

.dark {
  color: #75747e;
}

.dragon {
  color: #1582e7;
}

.electric {
  color: #f2cb55; 
}

.fairy {
  color: #e98acc;
}

.fighting {
  color: #eb4971;
}

.fire {
  color: #ff9448;
}

.flying {
  color: #829edb;
}

.ghost {
  color: #6882d4;
}

.grass {
  color: #8bbe8a;
}

.ground {
  color: #f78551;
}

.ice {
  color: #6bddce;
}

.normal {
  color: #c5c9d6;
}

.poison {
  color: #bd5fe9;
}

.psychic {
  color: #ff787a;
}

.rock {
  color: #d5c895;
}

.steel {
  color: #4d92b4;
}

.water {
  color: #58abf6;
}


/* style main components */
#root {
  padding: 2vw 7.5vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper .logo-pokemon {
  position: relative;
  display: flex;
  margin: 0 auto;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: max(5vw, 5rem);
  color: #ffcb05;
  text-align: center;
  -webkit-text-stroke: 5px #3b5ca8;
  text-shadow: -1px 0px 0px #1d2c5e;
}

.wrapper .logo-pokemon::before {
  content: 'Pokédex';
  position: absolute;
  left: -5px;
  bottom: -6px;
  -webkit-text-stroke: transparent;
  color: #1d2c5e;
  z-index: -1;
}







.pokeball-bg {
  position: absolute;
  right: 0;
  width: 35%;
  height: 100%;
  
  &::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: 105%;
  transform: translate(0, -50%);
  background: rgba(255, 255, 255, 0.11);
  mask: url("/images/pokeball-transparent.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask: url("/images/pokeball-transparent.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}
}



.pokemon-name{
  text-transform: capitalize;
}



/* Modal */


.hidden {
  animation: unfoldOut .7s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}








.pokemon-name {
  font-size: 7.2vw;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}





.modal nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 3vw 0 3vw;
}

.modal nav button {
  padding: 3vw 4.5vw;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.39);
  border-color: transparent;
  background: transparent;
  transition: color .2s ease-in-out;
}

.modal nav button:hover {
  color: #fff;
}





.data-container .loader {
  position: relative;
  margin: auto;
  width: 15vw;
  height: 15vw;
}

.data-container .loader div, .data-container .loader::before, .data-container .loader::after {
  position: absolute;
  height: 100%;
  width: 100%;
}

.evolution-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4.5vh;
}

.evolution-container:last-child {
  margin: 0;
}

.evolution-container span {
  display: block;
}

.evolution-container .poke-img {
  display: flex;
  position: relative;
  width: 25vw;
  height: 25vw;
}

.evolution-container .pokeball-bg {
  top: 0;
  left: 0;
  width: 100%;
}

.evolution-container .pokeball-bg::after {
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}

.evolution-container .poke-img img {
  display: block;
  width: 65%;
  margin: 0 auto;
}

.evolution-container span {
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  color: #000;
}

.evolution-container .evolution-level {
  font-size: 14px;
}

.evolution-container .arrow {
  position: relative;
  display: inline-block;
  width: 6vw;
  height: 0.4vw;
  margin-top: 1vw;
  background: #ebe9e9;
}

.evolution-container .arrow::after { 
  content: '';
  position: absolute;
  height: 2vw;
  width: 2vw;
  right: 1px;
  top: -1.3vw;
  border: 0.6vw solid #ebe9e9;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(-40deg);
}

td > img {
  margin-right: 5px;
  width: max(22px, 1.8vw);
  height: max(22px, 1.8vw);
  padding: 5px;
  border-radius: 3px;
  background: currentColor;
}





@media screen and (min-width: 880px) {
  #root {
    padding: 0.5vw 5vw;
  }

  .modal {
    --main-padding: 3vw 3vw 0 3vw;
    width: 60%;
  }

  .modal::before {
    top: 2%;
    font-size: 10vw;
  }

  .current-pokemon {
    justify-content: center;
  }

  .current-pokemon img {
    width: 20%;
    margin-right: 5%;
  }

  .current-pokemon span.pokemon-name {
    font-size: 3.5vw;
  }
  
  .modal nav button {
    padding: 1.5vw 2.8vw;
  }
  
  .data-container {
    scrollbar-width: thin;
    scrollbar-color: currentColor transparent;
    padding: 2vw;
  }

  .data-container table {
    width: 100%;
    border-spacing: 0 1.75vh;
  }

  .data-container::-webkit-scrollbar-thumb {
    background: currentColor;
    border-radius: 50px;
  }

  .data-container::-webkit-scrollbar {
    background: transparent;
    width: 6px;
  }



  .evolution-container .poke-img {
    width: 10vw;
    height: 10vw;
  }

  .evolution-container .arrow {
    width: 4vw;
    height: 0.2vw;
  }

  .evolution-container .arrow::after {
    height: 1vw;
    width: 1vw;
    right: 1px;
    top: -0.6vw;
    border-width: 0.25vw;
  }
  
  .data-container .loader {
    width: 3.5vw;
    height: 3.5vw;
  }
}


/* animations */
@keyframes fill {
  0% {
    width: 0%;
  }
}

@keyframes zoom {
  0% {
    --scale: 0;
    transform-origin: 50% 100%;
  }

  100% {
    --scale: 1;
    transform-origin: 50% 100%;
  }
}


@keyframes blur {
  0% {
    -webkit-filter: blur(20px);
    opacity: 0;
  }

  85% {
    -webkit-filter: blur(15px);
    opacity: 1;
  }
  
  100% {
    -webkit-filter: blur(0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}